Babel
Flask
https://github.com/flask-admin/flask-admin/archive/master.zip
Flask-BabelEx
Flask-SQLAlchemy
Flask-WTF
Flask-Script
Flask-SocketIO
Flask-Migrate
Jinja2
MarkupSafe
SQLAlchemy
WTForms
Werkzeug
gevent
gevent-socketio
gevent-websocket
greenlet
transliterate
itsdangerous
pytz
speaklater
