Babel
Flask
https://github.com/flask-admin/flask-admin/archive/master.zip
Flask-BabelEx
Flask-SQLAlchemy
Flask-WTF
Flask-Script
Flask-SocketIO==1.0a1
Flask-Migrate
Jinja2
MarkupSafe
SQLAlchemy
WTForms
Werkzeug
blinker
gevent
gevent-socketio
gevent-websocket
greenlet
transliterate
itsdangerous
python-crontab
pytz
speaklater
